<section id="warning" class="p-5 text-white">
  <h2 class="sectionTitle">Cuidado com golpistas e vendedores de ilusão</h2>
  <hr class="titleHr" />

  <p class="mt-5">
    Hoje em dia, tornou-se muito comum ser vítima de fraudes na internet.
  </p>
  <p>
    Por isso, fazemos questão de transmitir
    <span class="textHighlight">transparência e seriedade</span> desde nosso
    primeiro atendimento,
    <span class="textHighlight">para que você sinta segurança</span> em
    contratar nossos serviços.
  </p>
  <p>
    Avaliaremos a viabilidade do seu caso com base
    <span class="textHighlight"
      >na sólida experiência de nossos advogados e no estudo criterioso da
      jurisprudência</span
    >.
  </p>
  <p>
    Assim, estamos comprometidos em fornecer uma análise honesta e realista,
    <span class="textHighlight"
      >garantindo que você tenha clareza sobre as reais chances de sucesso</span
    >.
  </p>

  <app-cta-button
    class="m-4"
    buttonText="Quero avaliar a viabilidade do meu caso"
  />
</section>
