<section id="testimonials" class="p-5 text-white">
  <h2 class="fs-2 fw-semibold">Nossos clientes falam por nós</h2>
  <hr class="titleHr" />

  <p class="my-5">
    Escolha a tranquilidade de poder contar com um
    <span class="textHighlight">escritório 5 estrelas</span> nas avaliações do
    Google, com
    <span class="textHighlight">mais de 2500 clientes satisfeitos</span>.
  </p>

  <iframe
    title="googleReviews"
    class="mb-3"
    src="https://17b2acfea42f416ea39178d48e1a43b8.elf.site"
    frameborder="0"
  ></iframe>

  <app-cta-button
    class="m-4"
    buttonText="Quero ser o próximo cliente satisfeito"
  />
</section>
