<section id="legalServices" class="p-5">
  <div class="d-flex gap-5">
    <div>
      <h2 class="fs-2 fw-semibold">Excelência em assistência jurídica</h2>
      <hr class="titleHr" />
      <p class="mt-5">
        Pode ter certeza de que
        <span class="fw-bold">você não está mais sozinho</span>.
      </p>
      <p>
        Temos uma equipe altamente capacitada,
        <span class="fw-bold">liderada pelo Dr. Obd-Edon de Almeida Santos</span
        >, pós-graduando em Processo Civil e Direito Administrativo.
      </p>
      <p class="mb-5">Conheça nossos principais serviços jurídicos:</p>

      <ul class="list-unstyled d-flex justify-content-between flex-wrap gap-4 fw-bold text-white">
        <li>
          <i class="fa-solid fa-file-lines"></i>
          <p>Revisão em Prova Objetiva ou Subjetiva</p>
        </li>
        <li>
          <i class="fa-solid fa-person-running"></i>
          <p>Reprovação em TAF</p>
        </li>
        <li>
          <i class="fa-solid fa-heart-pulse"></i>
          <p>Reprovação Médica</p>
        </li>
        <li>
          <i class="fa-solid fa-brain"></i>
          <p>Reprovação em Exame Psicotécnico</p>
        </li>
        <li>
          <i class="fa-solid fa-id-card"></i>
          <p>Investigação Social</p>
        </li>
        <li>
          <i class="fa-solid fa-user-graduate"></i>
          <p>Adiantamento de Diploma</p>
        </li>
        <li>
          <i class="fa-solid fa-ban"></i>
          <p>Indenização por Cancelamento de Concurso</p>
        </li>
        <li>
          <i class="fa-solid fa-wheelchair"></i>
          <p>Cotas Raciais e PcD</p>
        </li>
        <li>
          <i class="fa-solid fa-file-circle-question"></i>
          <p>Preterição na Convocação de Candidatos</p>
        </li>
        <li>
          <i class="fa-solid fa-rectangle-list"></i>
          <p>
            Ausência de Nomeação de Candidato Aprovado Dentro do Número de Vagas
          </p>
        </li>
      </ul>
    </div>
    <img
      class="my-4"
      rel="preload"
      src="../../../../../assets/images/obdEdon1.png"
      alt="Dr. Obd-Edon de Almeida Santos"
    />
  </div>
  <app-cta-button class="m-4" buttonText="Quero lutar pela minha vaga" />
</section>
