<section id="legalServices" class="p-5">
  <div class="d-flex gap-5">
    <div>
      <h2 class="fs-2 fw-semibold">Excelência em assistência jurídica</h2>
      <hr class="titleHr" />
      <p class="mt-5">
        Pode ter certeza de que
        <span class="fw-bold">você não está mais sozinho</span>.
      </p>
      <p>
        Temos uma equipe altamente capacitada,
        <span class="fw-bold">liderada pelo Dr. Obd-Edon de Almeida Santos</span
        >, pós-graduando em Processo Civil e Direito Administrativo.
      </p>
      <p class="mb-5">Conheça nossos principais serviços jurídicos:</p>

      <ul class="list-unstyled d-flex flex-wrap gap-3 fw-bold text-white">
        <li>Revisão em Prova Objetiva ou Subjetiva</li>
        <li>Reprovação em TAF</li>
        <li>Reprovação Médica</li>
        <li>Reprovação em Exame Psicotécnico</li>
        <li>Investigação Social</li>
        <li>Adiantamento de Diploma</li>
        <li>Indenização por Cancelamento de Concurso</li>
        <li>Cotas Raciais e de PcD</li>
        <li>Preterição na Convocação de Candidatos</li>
        <li>
          Ausência de Nomeação de Candidato Aprovado Dentro do Número de Vagas
        </li>
      </ul>
    </div>
    <img class="my-4" rel="preload" src="../../../../../assets/images/obdEdon1.png" alt="Dr. Obd-Edon de Almeida Santos" />
  </div>
  <app-cta-button class="m-4" buttonText="Quero lutar pela minha vaga" />
</section>
