#legalServices {
  background-image: url("../../../../../assets/images/legalServicesBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  color: var(--colorPrimary);

  & li {
    text-align: center;
    width: 30%;
    padding: 0.4rem 0.6rem;

    background-color: var(--colorSecondary);
    border-radius: var(--borderRounded);

    & i {
      font-size: 200%;

      margin: 3vh 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  #legalServices > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #legalServices > div li {
    width: 100%;
  }
}
