<section id="faq" class="p-5 d-flex justify-content-between align-items-start gap-5">
  <div>
    <h2 class="sectionTitle">Perguntas frequentes</h2>
    <hr class="titleHr" />

    <div class="mt-5 mb-4">
      <details>
        <summary>
          Por que contratar um advogado especialista em concursos públicos?
        </summary>
        <p>
          Em uma analogia com a área da medicina, um médico cardiologista
          (especialista) é mais indicado para resolver questões relacionadas ao
          coração que um clínico geral (generalista).
        </p>
        <p>
          Dessa forma, o advogado especialista em concursos públicos possui
          vasta experiência prática no assunto, e não apenas conhecimento
          teórico/acadêmico.
        </p>
        <p>
          Nessa perspectiva, Immanuel Kant já afirmava: "A experiência sem
          teoria é cega, mas a teoria sem experiência é mero jogo intelectual".
        </p>
      </details>
      <details>
        <summary>
          Um advogado especialista em concursos públicos é mais caro que um
          generalista?
        </summary>
        <p>
          Não necessariamente. O valor varia de acordo com a demanda do cliente
          e os honorários do profissional contratatado.
        </p>
      </details>
      <details>
        <summary>
          Preciso enviar algum documento físico para assinatura de contrato e
          procuração?
        </summary>
        <p>
          Não se preocupe. Você poderá enviar tudo que precisa de forma digital.
        </p>
        <p>
          A assinatura da procuração e do contrato de honorários advocatícios é
          feita de forma eletrônica através de ferramentas seguras e confiáveis.
        </p>
        <p>
          Utilizamos certificados digitais, que garantem a autenticidade e
          integridade dos documentos assinados eletronicamente.
        </p>
      </details>
      <details>
        <summary>Como acompanharei meu processo?</summary>
        <p>
          Nós sabemos o quanto sua nomeação é importante para você, por isso,
          manteremos você informado sobre cada etapa do processo.
        </p>
        <p>
          Também estamos sempre disponíveis para esclarecer eventuais dúvidas e
          orientar seus próximos passos.
        </p>
      </details>
    </div>

    <app-cta-button class="m-4" buttonText="Quero tirar outras dúvidas" />
  </div>
  <img
    rel="preload"
    src="../../../../../assets/images/judgeGavel.png"
    alt="Martelo e livros"
  />
</section>
