#faq {
  background-color: var(--colorOctary);

  color: var(--colorPrimary);

  & summary{
    font-weight: bold;
  }

  & img{
    object-fit: contain;

    width: 32vw;
  }
}

@media screen and (max-width: 768px) {
  #faq img{
    width: 80%;

    margin: auto;
  }
}
