#footer {
  background-color: var(--colorTertiary);

  & img {
    width: 12vw;

    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  #footer {
    & img {
      width: 70%;
      margin: auto;
    }

    & div {
      text-align: center;

      & a {
        justify-content: center;
      }
    }
  }
}
