<section id="footer" class="p-5 pb-4 text-white">
  <div class="d-flex justify-content-center gap-5 mb-5">
    <img
      rel="preload"
      src="../../../../../assets/images/logoBranca.png"
      alt="Logotipo Almeida Santos Advogados"
    />

    <div>
      <p class="fw-bold textHighlight">Contato</p>
      <ul class="list-unstyled">
        <li>
          <a
            class="text-decoration-none text-reset d-flex align-items-center gap-2"
            href="https://api.whatsapp.com/send/?phone=558173400912&text&type=phone_number&app_absent=0"
            target="_blank"
            aria-label="Entrar em contato pelo WhatsApp"
            title="Entrar em contato pelo WhatsApp"
          >
            <i class="fa-brands fa-whatsapp"></i>
            <p class="m-0">81 9 7340 0912</p>
          </a>
        </li>
        <li>
          <a
            class="text-decoration-none text-reset d-flex align-items-center gap-2"
            href="https://www.instagram.com/almeidasantos_adv/"
            target="_blank"
            aria-label="Entrar em contato pelo Instagram"
            title="Entrar em contato pelo Instagram"
          >
            <i class="fa-brands fa-instagram"></i>
            <p class="m-0">almeidasantos_adv</p>
          </a>
        </li>
        <li>
          <a
            class="text-decoration-none text-reset d-flex align-items-center gap-2"
            href="mailto:almeidasantosaadv@gmail.com"
            target="_blank"
            aria-label="Entrar em contato pelo e-mail"
            title="Entrar em contato pelo e-mail"
          >
            <i class="fa-regular fa-envelope"></i>
            <p class="m-0">almeidasantosaadv&#64;gmail.com</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-center">
    Almeida Santos Advogados • Todos os direitos reservados
  </p>
</section>
