a {
  width: fit-content;

  margin: auto;

  background-color: var(--colorQuinary);
  color: var(--colorPrimary);

  padding: 0.7rem 3.5rem;

  border-radius: var(--borderRounded) 0 var(--borderRounded) 0;

  text-decoration: none;
  font-style: italic;

  transition: ease-in-out 0.5s;

  & > i {
    font-weight: 600;
  }

  & > p {
    text-align: center;

    font-weight: 700;
  }

  &:hover {
    background-color: var(--colorSenary);

    box-shadow: 0 0 13px var(--colorSenary);
  }
}

@media screen and (max-width: 768px) {
  a {
    padding: 0.7rem 1.5rem;

    justify-content: space-between;

    & > i {
      font-size: 300%;

      font-weight: 400;
    }

    & > p {
      text-align: center;

      font-weight: 800;
    }
  }
}
