<app-header />
<app-banner />
<app-divider />
<app-competitive-edges />
<app-divider />
<app-testimonials />
<app-divider />
<app-legal-services />
<app-divider />
<app-warning/>
<app-divider />
<app-news />
<app-divider />
<app-cta />
<app-divider />
<app-faq />
<app-divider />
<app-footer />
<app-chat />

<button
  aria-label="Entrar em contato pelo WhatsApp"
  title="Entrar em contato pelo WhatsApp"
  (click)="showChat()"
>
  <i class="fa-brands fa-whatsapp" id="whatsappFixedIcon"></i>
</button>
