<app-header />
<app-banner />
<app-divider />
<app-competitive-edges />
<app-divider />
<app-testimonials />
<app-divider />
<app-legal-services />
<app-divider />
<app-cta />
<app-divider />
<app-faq />
<app-divider />
<app-footer />

<a
  href="https://api.whatsapp.com/send/?phone=558173400912&text&type=phone_number&app_absent=0"
  target="_blank"
  aria-label="Entrar em contato pelo WhatsApp"
  title="Entrar em contato pelo WhatsApp"
>
  <i class="fa-brands fa-whatsapp" id="whatsappFixedIcon"></i>
</a>
