#cta {
  background-image: url("../../../../../assets/images/ctaBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  gap: 3vw;

  & > div {
    margin-bottom: 6vh;
  }

  & img {
    object-fit: cover;

    width: 30vw;
    border-radius: var(--borderRounded);

    border: 0.15rem solid var(--colorPrimary);

    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)) 50%,
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0)
    );

    & li {
      background-color: var(--colorSecondary);

      padding: 0.4rem 0.6rem;

      border-radius: var(--borderRounded);
    }
  }
}

@media screen and (max-width: 1285px) {
  #cta {
    flex-direction: column-reverse;
    gap: 0;

    & > div {
      margin-bottom: 0;
    }

    & img {
      width: 60%;

      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  #cta img {
    width: 100%;
  }
}
