#cta {
  background-image: url("../../../../../assets/images/ctaBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  gap: 3vw;

  & > div {
    margin-bottom: 6vh;
  }

  & img {
    object-fit: cover;

    width: 27vw;
    margin-bottom: 6vh;

    border: 3px solid var(--colorPrimary);

    border-radius: var(--borderRounded);

    box-shadow: 0 0 20px var(--colorPrimary);
  }

  & li {
    background-color: var(--colorSecondary);

    padding: 0.4rem 0.6rem;

    border-radius: var(--borderRounded);
  }
}

@media screen and (max-width: 1285px) {
  #cta {
    flex-direction: column-reverse;
    gap: 0;

    & > div {
      margin-bottom: 0;
    }

    & img {
      width: 60%;

      margin: 3vh auto 6vh auto;
    }
  }
}

@media screen and (max-width: 768px) {
  #cta img {
    width: 100%;
  }
}
