<section id="cta" class="p-5 pb-0 d-flex gap-5 text-white">
  <img
    rel="preload"
    src="../../../../../assets/images/obdEdon2.png"
    alt="Dr. Obd-Edon de Almeida Santos"
  />

  <div class="mb-5">
    <h2 class="fs-2 fw-semibold">Seu futuro pode estar em risco</h2>
    <hr class="titleHr" />
    <p class="mt-5">
      <span class="textHighlight">O tempo está passando</span>, e o cronograma
      do seu Concurso segue sem você.
    </p>
    <p>
      Não perca a oportunidade.
      <span class="textHighlight"
        >O momento para pleitear seu direito é agora!</span
      >
    </p>
    <p>
      Conte com uma
      <span class="textHighlight">equipe de especialistas</span> em concursos
      públicos, com
      <span class="textHighlight">mais de 6 anos de experiência</span> na defesa
      de concurseiros de todo o Brasil.
    </p>
    <p>
      <span class="textHighlight"
        >Estamos dispostos a compreender suas dores e seus objetivos</span
      >, afinal, já passamos pelo que você está passando, e
      <span class="textHighlight"
        >sabemos como lidar com essa situação de injustiça</span
      >.
    </p>
    <p>
      Não estamos falando de cenários hipotéticos, mas sim de
      <span class="textHighlight">casos reais com desfechos vitoriosos</span>.
    </p>
    <p class="mb-5">
      <span class="textHighlight"
        >Sua demanda será resolvida de forma rápida graças a anos de prática na
        Advocacia Pública e Privada.</span
      >
    </p>

    <app-cta-button
      class="m-4"
      buttonText="Quero garantir meu futuro promissor"
    />
  </div>
</section>
