#chat {
  z-index: 1;

  position: fixed;

  bottom: 0;
  right: 1.4rem;

  width: 32vw;

  font-size: 80%;

  filter: drop-shadow(0px 0px 5px rgb(74, 74, 74));

  transition: ease-in-out 2s;

  p {
    margin: 0;
  }

  .formFieldInvalid {
    color: #fd3d31;
    font-size: 90%;
    font-weight: bold;
  }
}

#chatHead {
  padding: 1rem;

  background-color: #0b6156;
  color: #fff;

  img {
    width: 15%;
    aspect-ratio: 1/1;
  }
}

#chatBody {
  background: url("../../../../assets/images/whatsappBackground.png");

  padding-top: 0.7rem;
  padding-bottom: 1rem;

  height: 60vh;
  overflow-y: auto;
}

.chatMessage {
  margin: 0 7rem 0.7rem 0.7rem;
  padding: 0.7rem;

  border-radius: 0.5rem;

  background-color: #fafffe;

  p {
    margin-bottom: 0.3em !important;
  }
}

form > div {
  margin: 0 0.7rem 1rem 7rem;
  padding: 0.7rem;

  border-radius: 0.5rem;

  background-color: #e7ffdb;

  div {
    margin-bottom: 0.3em;
  }

  input,
  select {
    display: block;

    width: 100%;
    border-radius: 0.2rem;

    border: 1px solid rgb(118, 118, 118);
  }
}

.whatsappRedirect {
  padding: 0.7rem;

  margin-left: 65%;
  margin-right: auto;

  border-radius: 0.2rem;

  font-weight: bold;

  text-decoration: none;

  color: #fff;
  background-color: #0b6156;

  &:hover {
    filter: opacity(0.9);
  }
}

@media screen and (max-width: 992px) {
  #chat {
    width: 70vw;
  }

  .whatsappRedirect {
    margin-left: 75%;
  }
}

@media screen and (max-width: 768px) {
  #chat {
    width: 90vw;
  }

  .whatsappRedirect {
    margin-left: 55%;
  }
}
