<div id="banner" class="text-white">
  <div class="p-5 w-50">
    <p class="fs-2 fw-semibold">
      Você foi eliminado injustamente de um
      <span class="textHighlight">Concurso Público</span>?
    </p>
    <hr class="titleHr" />
    <div class="mt-5">
      <p>
        Você está a um passo de alcançar a estabilidade e o reconhecimento que
        um cargo público oferece.
      </p>
      <p>Não permita que injustiças comprometam sua nomeação!</p>
      <p>
        Nosso escritório de advocacia é
        <span class="textHighlight">especializado em concursos públicos</span>,
        com profissionais experientes para te apoiar em cada etapa desse
        processo.
      </p>
      <p>Não perca tempo! Garanta já o que é seu por direito!</p>
    </div>
    <app-cta-button
      class="m-4"
      buttonText="Falar com um advogado especialista"
    />
  </div>
</div>
