<div
  id="banner"
  class="text-white d-flex justify-content-between align-items-end px-5"
>
  <div class="mb-5 d-flex flex-column justify-content-center">
    <p class="sectionTitle">
      Você foi eliminado injustamente de um
      <span class="textHighlight">Concurso Público</span>?
    </p>
    <hr class="titleHr" />
    <div class="mt-4">
      <ul>
        <li>Erro na <span class="textHighlight">correção da prova</span></li>
        <li>
          <span class="textHighlight">Convocação</span> irregular ou fora do
          prazo
        </li>
        <li>
          Negativa de
          <span class="textHighlight">emissão antecipada do diploma</span>
          para posse
        </li>
        <li>
          Reprovação sem fundamento no
          <span class="textHighlight">Teste de Aptidão Física (TAF)</span>
        </li>
        <li>
          Irregularidades no
          <span class="textHighlight">psicotécnico</span>
        </li>
        <li>
          Inaptidão sem fundamento no
          <span class="textHighlight">exame médico</span>
        </li>
        <li>
          Eliminação indevida na
          <span class="textHighlight">investigação social</span>
        </li>
      </ul>
      <p>
        Essas eliminações são mais comuns do que parecem
        <span class="textHighlight">
          — e muitas podem ser revertidas judicialmente</span
        >.
      </p>
    </div>
    <app-cta-button
      class="m-4"
      buttonText="Falar com um advogado especialista"
    />
  </div>

  <img
    rel="preload"
    src="../../../../../assets/images/obdEdon3.webp"
    alt="Dr. Obd-Edon de Almeida Santos"
  />
</div>
