#banner {
  margin-top: -10vh;

  padding-top: 10vh;
  background-image: url("../../../../../assets/images/bannerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  & > div {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  #banner div {
    width: 100%;
  }
}
