<div
  id="banner"
  class="text-white d-flex justify-content-between align-items-end px-5"
>
  <div class="mb-5 d-flex flex-column justify-content-center">
    <p class="sectionTitle">
      Você foi eliminado injustamente de um
      <span class="textHighlight">Concurso Público</span>?
    </p>
    <hr class="titleHr" />
    <div class="mt-5">
      <p class="sectionTitle">
        <span class="textHighlight">Podemos reverter essa situação!</span>
      </p>
      <p>
        Você está a um passo de alcançar a estabilidade e o reconhecimento que
        um cargo público oferece,
        <span class="textHighlight"
          >não permita que injustiças comprometam sua nomeação!</span
        >
      </p>
      <p>
        Nosso escritório de advocacia é
        <span class="textHighlight">especializado em concursos públicos</span>,
        com profissionais experientes para te apoiar em cada etapa desse
        processo.
      </p>
      <p>
        <span class="textHighlight">Não perca tempo!</span> Garanta já o que é
        seu por direito!
      </p>
    </div>
    <app-cta-button
      class="m-4"
      buttonText="Falar com um advogado especialista"
    />
  </div>

  <img
    rel="preload"
    src="../../../../../assets/images/obdEdon3.png"
    alt="Dr. Obd-Edon de Almeida Santos"
  />
</div>
