#banner {
  margin-top: -10vh;

  padding-bottom: 0;
  padding-top: 10vh;
  background-image: url("../../../../../assets/images/bannerBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  gap: 3vw;

  & > div {
    height: 70vh;
  }

  & > img {
    width: 40vw;
  }
}

@media screen and (max-width: 1285px) {
  #banner {
    flex-direction: column;
    gap: 0;

    & > div {
      margin-top: 29vh;
    }

    & > img {
      margin-top: 20vh;
      width: 100%;
    }
  }
}
