<section id="competitiveEdgesSection">
  <ul class="list-unstyled d-flex justify-content-between text-center p-5 m-0">
    <li>
      <i class="fa-solid fa-bullseye"></i>
      <p>Escritório especializado</p>
      <p>Não deixe seu direito na mão de generalistas. Conte com advogados especialistas em Concurso Público.</p>
    </li>
    <li>
      <i class="fa-solid fa-location-dot"></i>
      <p>Atuação nacional</p>
      <p>Onde quer que você esteja, oferecemos suporte jurídico em qualquer lugar do Brasil.</p>
    </li>
    <li>
      <i class="fa-solid fa-headset"></i>
      <p>Atendimento ágil e personalizado</p>
      <p>Chega de ser atendido por robôs! Aqui você tem atendimento rápido e humanizado.</p>
    </li>
    <li>
      <i class="fa-solid fa-graduation-cap"></i>
      <p>Equipe qualificada e experiente</p>
      <p>Nossos especialistas possuem pós-graduação e mais de 6 anos de experiência.</p>
    </li>
  </ul>
</section>
