<header
  id="header"
  class="d-flex justify-content-around align-items-center text-white py-3 px-5"
>
  <div class="d-flex align-items-center gap-4">
    <img
      class="logotipo"
      src="../../../../../assets/images/logoBranca.png"
      alt="Logotipo Almeida Santos Advogados"
    />
    <h1 class="fs-2">Almeida Santos Advogados</h1>
  </div>

  <nav>
    <ul class="m-0 list-unstyled d-flex align-items-center gap-5">
      <li>
        <a href="#testimonials" class="text-decoration-none text-white"
          >Clientes satisfeitos</a
        >
      </li>
      <li>
        <a href="#legalServices" class="text-decoration-none text-white"
          >Serviços</a
        >
      </li>
      <li>
        <a href="#about" class="text-decoration-none text-white"
          >Sobre</a
        >
      </li>
      <li>
        <a href="#contact" class="text-decoration-none text-white"
          >Contato</a
        >
      </li>
    </ul>
  </nav>
</header>
