<section id="newsSection" class="p-5">
  <h2 class="sectionTitle">Casos com grande repercussão na mídia</h2>
  <hr class="titleHr" />

  <p class="my-5">
    <span class="fw-bold"
      >Credibilidade é um valor que não se constrói do dia para a noite.</span
    >
    Convidamos você a explorar alguns dos casos que atuamos e fornecemos nossa
    análise jurídica, clicando nas matérias abaixo:
  </p>

  <div class="mb-5">
    <a href="https://www.instagram.com/p/C9kXtCRKz1t/" target="_blank">
      <img
        rel="preload"
        src="../../../../../assets/images/noticia1.jpg"
        alt="Notícia do portal Amo Direito"
      />
    </a>
    <a href="https://www.instagram.com/p/C-Yh97yRJ8D/" target="_blank">
      <img
        rel="preload"
        src="../../../../../assets/images/noticia2.jpg"
        alt="Advogado comenta eliminação em TAF"
      />
    </a>
    <a href="https://www.instagram.com/p/Czo0w3pPec7/?img_index=1" target="_blank">
      <img
        rel="preload"
        src="../../../../../assets/images/noticia3.jpg"
        alt="Liminar concedida"
      />
    </a>
  </div>
</section>
